[Desktop Entry]
Type=Application
Version=3.1.0
Name=UotanToolbox
GenericName=UotanToolbox
Icon=UotanToolbox
Exec=UotanToolbox %F
StartupWMClass=UotanToolbox
Terminal=false
Categories=Development
Keywords=UotanToolbox; Uotan;
