name: Build macOS

on:
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'Version'
        required: true
      BINARY_BRANCH:
        description: 'Binary branch'
        required: true
      NEED_NUPKG:
        description: 'Use self nupkg'
        type: boolean
        required: true
        default: false



jobs:
  macos-app:
    runs-on: macos-latest
    env:
      CERT_NAME: ${{ secrets.MACOS_CERTIFICATE_NAME }}
      KEYCHAIN_PASSWORD: ${{ secrets.MACOS_KEYCHAIN_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
      APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Download NuGet package
      if: ${{ inputs.NEED_NUPKG }}
      run: | 
        wget https://github.com/Uotan-Dev/SukiUI-Uotan/releases/download/v6.0.0/SukiUI.6.0.0.nupkg
        dotnet nuget add source "/Users/runner/work/UotanToolboxNT/UotanToolboxNT"
        nuget add SukiUI.6.0.0.nupkg -Source /Users/runner/work/UotanToolboxNT/UotanToolboxNT

    - name: Clone Binary
      run: git clone https://github.com/Uotan-Dev/UotanToolboxNT.Binary.git -b ${{ inputs.BINARY_BRANCH }}

    - name: Install create-dmg
      run: brew install create-dmg

    - name: Import macOS signing certificate
      run: |
        set -euo pipefail
        if [ ! -f /Users/runner/work/UotanToolboxNT/UotanToolboxNT/UotanToolbox/Assets/MacOS/entitlements.plist ]; then
          echo "entitlements.plist not found in repo designated folder."
          exit 1
        fi
        echo "${{ secrets.MACOS_CERTIFICATE_BASE64 }}" | base64 --decode > /tmp/cert.p12
        security create-keychain -p "$KEYCHAIN_PASSWORD" build.keychain
        security set-keychain-settings -lut 21600 build.keychain
        security unlock-keychain -p "$KEYCHAIN_PASSWORD" build.keychain
        security import /tmp/cert.p12 -k build.keychain -P "${{ secrets.MACOS_CERTIFICATE_PASSWORD }}" -T /usr/bin/codesign -T /usr/bin/security -T /usr/bin/productbuild
        security list-keychain -d user -s build.keychain
        security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$KEYCHAIN_PASSWORD" build.keychain
        rm -f /tmp/cert.p12

    - name: Build
      run: |
        dotnet publish -r osx-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -o ./publish-x64
        dotnet publish -r osx-arm64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -o ./publish-arm64

    - name: Make app-x64
      run: |
        mkdir UotanToolbox.app
        mkdir UotanToolbox.app/Contents
        mkdir UotanToolbox.app/Contents/MacOS
        mkdir UotanToolbox.app/Contents/Resources
        cp /Users/runner/work/UotanToolboxNT/UotanToolboxNT/UotanToolbox/Assets/macOS/Info.plist ./UotanToolbox.app/Contents/Info.plist
        cp /Users/runner/work/UotanToolboxNT/UotanToolboxNT/UotanToolbox/Assets/macOS/PkgInfo ./UotanToolbox.app/Contents/PkgInfo
        cp /Users/runner/work/UotanToolboxNT/UotanToolboxNT/UotanToolbox/Assets/macOS/Icon.icns ./UotanToolbox.app/Contents/Resources/Icon.icns
        cp -r ./UotanToolboxNT.Binary/macOS/* ./UotanToolbox.app/Contents/MacOS/
        cp -r ./publish-x64/* ./UotanToolbox.app/Contents/MacOS/
        codesign --force --options runtime --entitlements /Users/runner/work/UotanToolboxNT/UotanToolboxNT/UotanToolbox/Assets/MacOS/entitlements.plist --timestamp --deep --sign "${{ secrets.MACOS_CERTIFICATE_NAME }}" ./UotanToolbox.app
        ditto -c -k --keepParent ./UotanToolbox.app ./UotanToolbox_macOS_x64_${{ inputs.VERSION }}.zip
        xcrun notarytool submit ./UotanToolbox_macOS_x64_${{ inputs.VERSION }}.zip --apple-id "$APPLE_ID" --team-id "$APPLE_TEAM_ID" --password "$APPLE_APP_SPECIFIC_PASSWORD" --wait
        xcrun stapler staple -v ./UotanToolbox.app
        rm -rf ./UotanToolbox_macOS_x64_${{ inputs.VERSION }}.zip
        mkdir -p dmg-root
        cp -R "./UotanToolbox.app" "dmg-root/"
        ln -s /Applications "dmg-root/Applications"
        ls -la dmg-root
        create-dmg --volname "UotanToolbox" --background "/Users/runner/work/UotanToolboxNT/UotanToolboxNT/UotanToolbox/Assets/macOS/dmgbackground.tiff" --window-size 600 410 --icon-size 96 --icon "UotanToolbox.app" 160 175 --icon "Applications" 440 175 --hide-extension "UotanToolbox.app" --filesystem APFS ./UotanToolbox_macOS_x64_${{ inputs.VERSION }}.dmg dmg-root/
        rm -rf ./UotanToolbox.app/Contents/MacOS/*
        

    - name: Make app-arm64
      run: |
        cp -r ./UotanToolboxNT.Binary/macOS/* ./UotanToolbox.app/Contents/MacOS/
        cp -r ./publish-arm64/* ./UotanToolbox.app/Contents/MacOS/
        codesign --force --options runtime --entitlements /Users/runner/work/UotanToolboxNT/UotanToolboxNT/UotanToolbox/Assets/MacOS/entitlements.plist --timestamp --deep --sign "${{ secrets.MACOS_CERTIFICATE_NAME }}" ./UotanToolbox.app
        ditto -c -k --keepParent ./UotanToolbox.app ./UotanToolbox_macOS_arm64_${{ inputs.VERSION }}.zip
        xcrun notarytool submit ./UotanToolbox_macOS_arm64_${{ inputs.VERSION }}.zip --apple-id "$APPLE_ID" --team-id "$APPLE_TEAM_ID" --password "$APPLE_APP_SPECIFIC_PASSWORD" --wait
        xcrun stapler staple -v ./UotanToolbox.app
        rm -rf ./UotanToolbox_macOS_arm64_${{ inputs.VERSION }}.zip
        rm -rf dmg-root
        mkdir -p dmg-root
        cp -R "./UotanToolbox.app" "dmg-root/"
        ln -s /Applications "dmg-root/Applications"
        ls -la dmg-root
        create-dmg --volname "UotanToolbox" --background "/Users/runner/work/UotanToolboxNT/UotanToolboxNT/UotanToolbox/Assets/macOS/dmgbackground.tiff" --window-size 600 410 --icon-size 96 --icon "UotanToolbox.app" 160 175 --icon "Applications" 440 175 --hide-extension "UotanToolbox.app" --filesystem APFS ./UotanToolbox_macOS_arm64_${{ inputs.VERSION }}.dmg dmg-root/        rm -rf ./UotanToolbox.app/Contents/MacOS/*

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: macOS-Package
        path: ./UotanToolbox_macOS*
